name: Java CI

on: [ push ]
jobs:
  strategy:
    runs-on:
    matrix:
      os: [ 'ubuntu-latest', 'windows-latest']
  runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn -version & mvn --batch-mode --update-snapshots verify
